.todo-list-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-list-header a{
    display: inline-block;
    margin-left: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 3px;
    background: #6c757d;
}
